

<%= link_to "[ Cerrar Sesión ]", destroy_user_session_path, method: :delete %>

<h1>Students#index</h1>

<%= link_to "Nuevo estudiante", new_student_path %>

<% if  @estudiantes.blank? %>
<p> No hay elementos en la base de datos</p>
<% else %>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th> Id </th>
			<th> Nombre </th>
			<th> Fecha Nac </th>
			<th> Telefono </th>
			<th> Opciones </th>
		</tr>
	</thead>
	<tbody>
		<% @estudiantes.each do |e| %>
			<tr>
				<td><%= e.id %></td>
				<td><%= "#{e.nombre} #{e.apellido_paterno} #{e.apellido_materno}" %></td>
				<td><%= e.fecha_nacimiento %> </td>
				<td><%= e.telefono %> </td>
				<td><%= link_to "[Mostrar]", student_path(e) %></td>
				<td><%= link_to "[Editar]", edit_student_path(e) %></td>

				<td><%= link_to "[Eliminar]", student_path(e), method: :delete, data: {confirm: "Eliminar elemento?"} %></td>
				
				<td>  </td>
		</tr>
		<% end %>
	</tbody>
</table>

<% end %>

